@model firstProjectmvc.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<h2>Delete</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>

    <form id="deleteForm" action="" method="post">
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Address)
        @Html.HiddenFor(model => model.PhoneNumber)
        @Html.HiddenFor(model => model.Gender)


        <div class="form-actions no-color">
            <button type="button" id="confirmDelete" class="btn btn-danger">Delete</button>
            @Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-secondary" })
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        document.getElementById("confirmDelete").addEventListener("click", function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't Delete This!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                  
                    document.getElementById("deleteForm").submit();
                }
            });
        });
    </script>
}
